.DS_Store
.idea
*/_notes
dwsync.xml
 
/wordpress
wp-config.php

~*

*/connection_images
wp-content/db.php
wp-content/plugins/concatenated-pdfs/includes/dompdf/tmp/*
wp-content/plugins/concatenated-pdfs/includes/dompdf/logs/*.html
wp-content/plugins/concatenated-pdfs/**/*.pdf
wp-content/plugins/concatenated-pdfs/cache/logs/*.html